<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Rails 101s</a>
    </div>

    <div class="collapse nav0bar-collapse" id="bs-example-navabar-collapse-1">
      <ul class="nav navbar navbar-right">
        <li> <%= link_to('登入', '#') %> </li>
      </ul>
    </div>
  </div>
</nav>